<h1>All Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %> - $<%= product.cost %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
<hr>
<%= link_to "Add new product", new_product_path, :class => "btn btn-primary" %>
<br>
<h2>Most Reviewed Product: <strong><em><%= link_to @popular.name, product_path(@popular) %></em></strong> with <%= @popular.reviews.length %> reviews!</h2>

<h3>Most Recent Products</h3>
<% if @threecent.any? %>
  <ul>
    <% @threecent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %> - <em><%= product.created_at %></em></li>
    <% end %>
  </ul>
<% end %>

<h2>Local Products Made in the USA</h2>
<% if @usa.any? %>
  <ul>
    <% @usa.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% end %>