<h4>Welcome to Super Mario's Super Website for his Super Foods! Here's a few noteworthy products we offer!</h4>

<%= link_to "View all products", products_path, :class => "btn btn-success" %>

<% if @popular.any? %>
<h2>Most Reviewed Product: <strong><em><%= link_to @popular.first.name, product_path(@popular.first) %></em></strong> with <%= @popular.first.reviews.length %> reviews!</h2>
<% end %>

<h3>Most Recent Products</h3>
<% if @threecent.any? %>
  <ul>
    <% @threecent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %> - <em><%= product.created_at %></em></li>
    <% end %>
  </ul>
<% end %>

<h2>Local Products Made in the USA</h2>
<% if @usa.any? %>
  <ul>
    <% @usa.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% end %>
<hr>
<h4><em>Our glorious founder</em></h4>
<br>
<%= image_tag("mario.png") %>