<h1><%= @product.name %></h1>
<h3>Country of Origin: <%= @product.country_of_origin %></h3>
<h2>$<%= @product.cost %></h2>

<% if @product.reviews.any? %>
  <h4>Here is what some people are saying about <%= @product.name %>:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to review.author, product_review_path(@product, review) %>'s review - <%= review.rating %>/5 stars
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.
<% end %>
<hr>
<%= link_to "Add a review", new_product_review_path(@product), :class => "btn btn-success" %>
<% if is_admin? %>
  <%= link_to "Edit product", edit_product_path(@product), :class => "btn btn-warning" %>
  <%= link_to "Delete product", product_path(@product), :class => "btn btn-danger", 
                                                          :data => {:confirm => "Are you sure?",
                                                                    :method => "delete"} %>
<% end %>
<%= link_to "Return to all products", products_path, :class => "btn btn-info" %>