<!DOCTYPE html>
<html>
  <head>
    <title>Super Mario's Super Foods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'mario.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="jumbotron">
      <h1><a href="/">Super Mario's Super Foods</a> <%= image_tag("chef.png") %></h1>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
    </div>
  </body>
</html>
