<!DOCTYPE html>
<html>
  <head>
    <title>Super Mario's Super Foods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'mario.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <br>
    <div class="registration">
      <% if user_signed_in? %>
        <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-warning" %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Sign-In/Sign-Up", new_user_session_path, class: "btn btn-info" %>
      <% end %>
      <% if current_user %>
        <strong><%= current_user.email %></strong>
      <% end %>
    </div>
    <br>
    <div class="jumbotron">
      <h1><a href="/">Super Mario's Super Foods</a> <%= image_tag("chef.png") %></h1>
      <% if is_admin? %>
        <p> Administrative access granted! </p>
      <% end %>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
    </div>
  </body>
</html>
